<ion-view view-title="平时成绩">
  <ion-header-bar class="bar bar-positive">
    <button class="button button-icon ion-chevron-left button-small" ng-click="goBack()"></button>
    <h1 class="title"><b>平时成绩</b></h1>

    <style>
      .col_now{
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 2px;
        text-align: center;
      }
    </style>

  </ion-header-bar>

  <ion-content class="has-header">
    <div class="list">


      <div class="row item item-borderless item-divider">
        <div class="col col-20">
          <div align="center" style="padding-top: 10px"><b>课程</b></div>
        </div>

        <div class="col col-60 item item-input item-select">
          <select ng-change="changeCourseChoosen(courseChoosen)" ng-model="courseChoosen">
            <option ng-repeat="item in teacherAttendanceSheetCourse" value="{{item.courseName}}">{{item.courseName}}</option>
          </select>
        </div>

        <div class="col" style="padding-left: 20px">
          <button class="button button-stable" ng-click="chooseCourse()">
            <i class="icon  ion-search"></i>
          </button>
        </div>
      </div>



      <div>
        <div class="row ">
          <div class="col col_now">
            <div class="col-demo"><b>课次</b></div>
          </div>
          <div class="col col_now">
            <div class="col-demo"><b>课上回答</b></div>
          </div>
          <div class="col col_now">
            <div class="col-demo"><b>课后作业</b></div>
          </div>
        </div>

        <div class="row" ng-repeat="item in studentScoreInfo">

          <div class="col col_now">
            <div class="col-demo">{{item.ClassNo}}</div>
          </div>

          <div class="col col_now">
            <div class="col-demo">{{item.AnswerScore}}</div>
          </div>

          <div class="col col_now">
            <div class="col-demo">{{item.AssignmentScore}}</div>
          </div>


          </div>

        </div>



      </div>











    </div>

  </ion-content>

</ion-view>
