<ion-view view-title="登录" cache-view="false">
  <ion-content class="stable-bg" scroll="false">
    <img class="full-image image-title" src="pages/login/img/logoin_title.jpg">

    <div class="list list-inset stable-bg">
      <label class="item item-input stable-bg ">
        <span class="input-label ">学号/工号</span>
        <input type="text" placeholder="学号/工号不能为空" ng-model="loginModel.username">
      </label>
      <label class="item item-input stable-bg" style="margin-top:20px;">
        <span class="input-label">密码</span>
        <input type="password" placeholder="密码不能为空" ng-model="loginModel.password">
      </label>
    </div>


    <div class="row" >
      <div class="col">
        <button class="button button-positive button-block" ng-click="login()">登录</button>
      </div>
    </div>

    <div class="row">
      <a class="button button-small button-clear button-dark" href="#/forgetPwd1">&nbsp;忘记密码？</a>
    </div>


  </ion-content>

  <div class="bar bar-footer bar-stable item-borderless" style="background-image: none">
    <company-directive bottom="0px"></company-directive>
  </div>>

</ion-view>
