<ion-view view-title="设置">
  <ion-header-bar class="bar bar-positive">
    <button class="button button-icon icon ion-chevron-left button-small" ng-click="goBack()"></button>
    <h1 class="title"> <b>设置</b></h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-divider">
        短信设置
      </div>
      <li class="item item-toggle" >
        自动发送提醒短信
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <div class="item item-divider">
        修改信息
      </div>
      <a class="item item-icon-right">
        个人信息
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right">
        修改密码
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <li class="item item-toggle" >
        手势密码
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <div class="item item-divider">
        其他服务
      </div>
      <a class="item item-icon-right">
        关于我们
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right">
        联系客服
        <span  class="item-note" >400-600-6815</span>

      </a>

      <div class="item item-divider">
      </div>
      <a class="item item-icon-right" ng-click="logout()">
        安全退出
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>

  </ion-content>

  <!--<company-directive bottom="0px"></company-directive>-->
</ion-view>
